# Zigbee End Device
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ED_ROLE=y
CONFIG_ZB_RADIO_MODE_NATIVE=y
CONFIG_ZB_HOST_MODE_NONE=y

# Chip revision (M5Stack Nano H2 is v1.2)
CONFIG_ESP32H2_REV_MIN_1=y
CONFIG_ESP32H2_REV_MIN_FULL=102
CONFIG_ESP_REV_MIN_FULL=102
CONFIG_ESP32H2_REV_MAX_FULL=199
CONFIG_ESP_REV_MAX_FULL=199

# Partition table (custom for Zigbee storage)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# GPIO ISR
CONFIG_GPIO_CTRL_FUNC_IN_IRAM=y
